body{
	font-family: century gothic;
}


.container-list{
    width: 45%;
    min-width: 250px;

    height: 600px;
    position: relative;
    display: inline-block;

    border: 2px dashed #888;
    margin: 10px;

    vertical-align: top;
}	

.list-item{
	margin: 10px;
    background: #ffa218;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 700;

    box-sizing: border-box;
}

.sp-right{
	float: right;
}

.sp-right span{
	padding: 4px;
	border-radius: 5px;
	background: #555;
	color: white;
	font-size: 12px;

	cursor: pointer;
}

.sp-right span:hover{
	padding: 4px;
	border-radius: 5px;
	background: #eee;
	color: #555;
	font-size: 12px;

	cursor: pointer;
}


.sp-date{
	font-size: 9px;
	color: #333;
}