*{
	box-sizing: border-box;
}

body{
	font-family: century gothic;
	background-color: antiquewhite;

}


.container-list{
    width: 45%;
    min-width: 250px;

    height: 600px;
    position: relative;
    display: inline-block;

    /* border: 2px dashed #888; */
    margin: 10px;

	vertical-align: top;
	
	box-shadow: 0px 0px 15px #aaa;
	background-color: white;
	border-radius: 10px;
}	

.list-item{
	margin: 10px;
    background: #ffa218;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 700;

    box-sizing: border-box;
}

.sp-right{
	float: right;
}

.sp-right span{
	padding: 4px;
	border-radius: 5px;
	background: #555;
	color: white;
	font-size: 12px;

	cursor: pointer;
}

.sp-right span:hover{
	padding: 4px;
	border-radius: 5px;
	background: #eee;
	color: #555;
	font-size: 12px;

	cursor: pointer;
}


.sp-date{
	font-size: 9px;
	color: #333;
}

#main-input{
	max-width: 600px;
	margin: auto;
	margin-bottom: 20px;
}

h2{
	font-size: 46px;
	margin-bottom: 5px;
	color: #ffaaaa;
}


#input-form {
	/* height: 45px; */
	
	padding: 15px;
	background-color: white;
	border-radius: 20px;

	max-width: 500px;

}

.input-children{
	height: 25px;
	vertical-align: top;
	padding: 5px;
}

#input-form input{
	width: 90%;
	border: 0px;
	outline: 0px;
	font-size: 14px;
}

#input-form button{
	--w: 25px;
	width: var(--w);
	height: var(--w);
	float: right;
	outline: 0px;

	/* padding: 5px; */
	margin: 0px;
	background-color: #555;
	color: white;

	border-radius: 50%;
	border: 0px;
}